Source: cl-puri
Section: devel
Priority: optional
Maintainer: Kevin M. Rosenberg <kmr@debian.org>
Build-Depends-Indep: debhelper (>= 4.0.0)
Standards-Version: 3.7.2.1

Package: cl-puri
Architecture: all
Depends: ${shlibs:Depends}, common-lisp-controller (>= 3.47)
Recommends: cl-ptester
Description: Common Lisp Portable URI Library
 This is portable Universal Resource Identifier (RFC 2396)
 library for Common Lisp programs. It is based on Franz,
 Incorporated opensource package and ported to run on
 other CL implementations. A regression test package is included.
